{% extends "home.html"%}

{%block script%}
<script>

function getParameterByName(name, url) {
  if (!url) url = window.location.href;
  name = name.replace(/[\[\]]/g, "\\$&");
  var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
      results = regex.exec(url);
  if (!results) return null;
  if (!results[2]) return '';
  return decodeURIComponent(results[2].replace(/\+/g, " "));
}
$(document).ready(function(){

  console.log("working");
  var query = getParameterByName('q');
  console.log(query);
  var nextLibroUrl;
  var total = 0;
  var con = 0;

  function attachLibro(proValue, prepend){
    var proId = proValue.ID;
    var proProducto = proValue.ID_Pedido;
    var proCantidad = proValue.Cantidad;
    var proImagen = proValue.Producto.imagen;

      if (prepend==true){
        $("#ajax_libros").prepend(
          "<div class='card-deck'>"+
             "<div class='card'>"+
               "<img class='card-img-top' src='"+ proImagen +"' alt=''>"+
               "<div class='card-block'>"+
                 "<h4 class='card-title'>Identificador: "+ proId +" </h4>"+
                 "<p class='card-text'>Producto: "+ proProducto +" </p>"+
                 "<p class='card-text'>Cantidad: "+ proCantidad +" </p>"+
               "</div>"+
               "<div class='card-footer'>"+

               "</div>"+
             "</div>"+
           "</div>"+
           "<br>"
        )

      }else{
        $("#ajax_libros").append(
          if (proId == ){}
             "<div class='card'>"+
               "<img class='card-img-top' src='"+ proImagen +"' alt=''>"+
               "<div class='card-block'>"+
                 "<h4 class='card-title'>Identificador: "+ proId +" </h4>"+
                 "<p class='card-text'>Producto: "+ proProducto +" </p>"+
                 "<p class='card-text'>Cantidad: "+ proCantidad +" </p>"+
                 "<p class='card-text'>Precio: $18 </p>"+
                 "<p class='card-text'>Total:"+ (18 * proCantidad)  +" </p>"+
               "</div>"+
               "<div class='card-footer'>"+

               "</div>"+
             "</div>"+
             (con = con +1)+
           (total = total + (18 * proCantidad))+
           "<br>"
        )
      }
    }
    function fetchLibros(url){
      console.log("fetching...");
      var fetchUrl;
      if (!url){
        fetchUrl='/api/tamales/pp/?q=somequery';
      }else{
        fetchUrl=url
      }
      $.ajax({
        url: fetchUrl,
        data:{
          'q': query
        },
        method: "GET",
        success: function(data){
          console.log(data);
          nextLibroUrl = data.next;
          $.each(data.results, function(key, value){
            var librosKey = key;
            attachLibro(value);
          });
        },
        error: function(data){
          console.log("error");
          console.log(data);
        }
      });
    }

    fetchLibros();

    $("#loadmore").click(function(event){
      event.preventDefault();
      console.log("click me")
      if (nextLibroUrl){
        fetchLibros(nextLibroUrl);
      }
      // Cargar mas tweets
    })

    $("#libro-form").submit(function(event){
     event.preventDefault();
     var this_ = $(this);
     console.log(event);
     console.log(this_.serialize());
     var formData = this_.serialize();

       $.ajax({
         url: "/api/tamales/pp/create/",
         data:formData,
         method: "POST",
         success: function(data){
           this_.find("#id_content").val("");
           attachLibro(data, true);
         },
         error: function(data){
           console.log("error");
           console.log("Datos:"+data);
           console.log(data.statusText);
           console.log(data.status);
         }
       });
   })


  });

</script>
{%endblock script%}

{% block Navegador %}
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Pedidos</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">

        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">

      </div>
    </div>
  </nav>
{% endblock %}

{% block Cabecera %}

{% endblock %}

{% block Nosotros %}

{% endblock %}

{% block Contacto %}

{% endblock %}

{% block Grid %}
<hr><hr><hr><hr><hr><hr>
<div class="container">
  Buscar: {% include "BusquedaPedidosProductos.html" %}
</div>


<div class="container">
  <h1>Pedidos</h1>
  <div class="container" class="post" id="ajax_libros">
    "<div class='card-deck'>"

      "</div>"
    <hr>
  </div>
  <hr>
</div>


<div class="container">
  <a class="btn btn-success" href="#" id='loadmore'>Cargar mas libros</a>
</div>
    <!-- Imprime lista de pedidos sin funcionalidades -->
  <!-- <div class="container" class="col">
    <h2>Tabla de Pedidos</h2>
    <p>Esta tabla contiene todos los pedidos de los clientes</p>
    <a class="btn btn-primary" href="/tamales/orden/create/" role="button">Agregar un pedido</a>
    <hr>
    {% for i in Pedidos%}
    <table class="table" class="col">
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Numero Pedido</th>
          <th>Metodo de pago</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>

          <tr>
            <td>{{i.Cliente}}</td>
            <td>{{i}}</td>
            <td>{{i.Metodo_Pago}}</td>
            <td><a class="btn btn-danger" href="orden/{{i.ID_Pedido}}/delete/" role="button">Eliminar</a><hr>
                <a class="btn btn-success" href="orden/producto/{{i.ID_Pedido}}/create/" role="button">Agregar</a></td>
          </tr>
      </tbody>
    </table>

    <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Total</th>
              <th>Foto</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for e in Productos_P%}
              {% if i == e.Pedido %}
                <tr>
                  <td>{{e.Producto}}</td>
                  <td>{{e.Cantidad}}</td>
                  <td>{{e.Total_Pagar}}</td>
                  <td><img src="/media/{{e.Producto.imagen}}" class="img-responsive" height="128" width="128" alt=""></td>
                  <td><a class="btn btn-danger" href="orden/producto/{{e.ID}}/delete/" role="button">Eliminar</a><hr>
                      <a class="btn btn-success" href="orden/producto/{{e.ID}}/update/" role="button">Modificar</a></td>
                </tr>

              {% endif %}
            {% endfor %}
          </tbody>
        </table>
    </div>
    {% endfor %}
  </div> -->
{% endblock %}
